.visor-container {
    width: 100%;
    height: 100px;
    padding: 20px;
}

.visor-container textarea {
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 32px;
    text-align: right;
}
