.toolbar {
    height: 60px;
    padding: 20px;
    background-color: #222831;
    color: white;
    font-weight: bold;
    font-weight: 600;
    font-size: 1.2rem;
}

.toolbar a {
    color: white;
    text-decoration: none;
}
